<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" user-scalable="no" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <link rel="icon" href="/imgs/home/gukari2.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/datepicker.min.js"></script>
    <link rel="apple-touch-icon" href="../../public/imgs/home/icon.png">
    <meta name="theme-color" content="#ffffff">
    <!-- <link rel="icon" href="../../public/imgs/home/icon.png"> -->
    <!-- Option 1: Include in HTML -->
    <meta property='og:site_name' content='Earnitz'>
<link rel='icon' type='image/png' href='https://gukari.com/imgs/home/logo.png'>
<link rel='icon' sizes='192x192' href='https://gukari.com/imgs/home/logo.png'>
<meta name='description'         content="Discover all of your favorite stuff in one place, such as YouTube, Quizlet, and khoot, right here at Gukari, where everything is tailored to your needs.">
<meta property='og:description'  content="Discover all of your favorite stuff in one place, such as YouTube, Quizlet, and khoot, right here at Gukari, where everything is tailored to your needs.">
<meta name='twitter:description' content="Discover all of your favorite stuff in one place, such as YouTube, Quizlet, and khoot, right here at Gukari, where everything is tailored to your needs">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=0">
</head>

<link rel="stylesheet" href="/stylesheet/home/index.css">
<script src="https://cdn.tailwindcss.com"></script>

<meta name = "keywords" content = "HTML, Meta Tags, Metadata" />

<body>

    <%- include('./partials/navigation.ejs') %>

        <%- body %>
        <script src="/javascript/home/main.js"></script>
        <script src="/javascript/home/content/videoupload.js"></script>
        <script src="/javascript/home/content/videos.js"></script>


</body>

</html>
