<script src="https://cdn.tailwindcss.com"></script>
<div class="ml-5 mr-5">

    <form action="video/upload" method="post" enctype="multipart/form-data">


<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload file</label>
<input class="block w-full text-sm text-gray-900 border p-2 border-gray-300 rounded-lg cursor-pointer bg-gray-50 " name="video" aria-describedby="file_input_help" id="file_input" type="file">
<p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
<button class="p-3 rounded-xl text-white bg-blue-500">
    Send 
</button>
    </form>
</div>
