<% layout('./layout/boilerplate.ejs')%>
    <div class="container mx-auto mt-10">
        <div class="max-w-lg mx-auto bg-white rounded-lg shadow-lg">
            <div class="py-4 px-8">
                <h1 class="text-2xl font-bold mb-2">Welcome to My Website</h1>
                <p class="mb-4">Please sign in to continue.</p>
                <div class="flex flex-col gap-3">
                    <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 rounded-lg">
                        <i class="bi bi-layout-text-window-reverse pr-2"></i>
                        Sign in with Synergy
                    </button>
                    <button class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 rounded-lg">
                        <i class="bi bi-google pr-2"></i>
                        Continue with Google
                    </button>
                    <button class="bg-black hover:bg-gray-900 text-white font-bold py-2 rounded-lg">
                        <i class="bi bi-apple pr-2"></i>
                        Continue with Apple
                    </button>
                </div>
                <p class="mb-3"> if you have an account with us <a class="text-blue-500" href="/login">Login</a>

            </div>
        </div>
    </div>