
<script src="https://cdn.tailwindcss.com"></script>
<title>Market</title>

<style>
    
</style>
<div class="stats w-full mt-2" style="height: 100vh;">
    <div class="container mx-auto   p-3">
        <form action="/market" method="post">
          <div class="border p-3">
          <div class="mb-4 flex flex-col">
            <label for="name" class="text-lg">Title</label>
            <span class="text-xs text-gray">Use phrases that consumers might type into search engines to find your product.</span>
            <input type="text" name="name" id="name" class="border p-2 rounded-xs">
          </div>
              <div class="mb-4 flex flex-col">
            <label for="type" class="text-lg">Type</label>
            <select name="type" id="type" class=" border form-control">
              <option value="gift">Gift</option>
              <option value="discount">Discount</option>
            </select>
          </div>
              <div class="mb-4 flex flex-col">
            <label for="image" class="text-lg">Image</label>
            <input type="file" name="image" id="image" class=" border form-control">
          </div>

           <div class="mb-4 flex flex-col">
            <label for="description" class="text-lg">Description</label>
            <textarea name="description" id="description" rows="5" class=" border form-control"></textarea>
          </div>
       </div>
           <div class="border p-3 mt-5">
          <div class="mb-4 flex flex-col">
            <label for="code" class="text-lg">Code</label>
            <input type="text" name="code" id="code" class=" border form-control">
          </div>


          <div class="mb-4 flex flex-col">
            <label for="amount" class="text-lg">Amount</label>
            <input type="number" name="amount" id="amount" class=" border form-control">
          </div>
      
          <div class="mb-4 flex flex-col">
            <label for="url" class="text-lg">URL</label>
            <input type="text" name="url" id="url" class=" border form-control">
          </div>

     
          </div>
          <br>
         <div class="flex felx-row w-full  ">
          <div class="" style="width: 33em; height: 3em;">
          <button type="submit" class="btn  bg-blue-600 text-white w-full rounded-sm p-3 h-full btn-primary" >List</button>
          </div>
          <div class="w-16 ml-3" style="width: 20em;">
          <button type="submit" class="btn btn-primary border border-gray-200 w-full rounded-sm h-full">Preview</button>
          </div>
        <div class="w-16 ml-3" style="width: 20em;">
          <button type="submit" class="btn btn-primary border border-gray-200 w-full rounded-sm h-full">Save for later</button>
          </div>
         </div>
        </form>
      </div>
</div>


<script>
   
    </script>