<% layout('./layout/boilerplate.ejs') %>
    <main class="relative bg-gray-100 ">
        <div
            class="h-screen min-h-screen bg-[url('https://www.material-tailwind.com/img/bg-header.jpg')] bg-cover bg-center bg-no-repeat">
            <div class="relative z-50 h-fit py-20 lg:py-25">
                <div class="container mx-auto px-4">
                    <div class="flex flex-wrap items-center justify-between">
                        <div class="mt-48 w-full px-4 md:w-8/12 lg:mt-4 lg:w-5/12">
                            <div class="w-full max-w-full sm:my-auto md:w-5/6 md:flex-none lg:w-1/2">
                                <div class="overflow-hidden block mb-6">
                                    <nav>
                                        <ul role="tablist"
                                            class="flex relative bg-opacity-60 p-1 flex-row h-10 w-auto rounded-full border border-white/80 bg-white/80 shadow-2xl shadow-blue-gray-500/40 backdrop-blur-2xl backdrop-saturate-200">
                                            <li role="tab"
                                                class="grid place-items-center text-center w-full h-full relative bg-transparent antialiased font-sans text-base leading-relaxed select-none cursor-pointer p-0 font-normal text-[#1A237E]"
                                                data-value="react">
                                                <div class="z-20 text-inherit"><i class="fab fa-react"
                                                        aria-hidden="true"></i>&nbsp;React</div>
                                                <div class="absolute inset-0 z-10 h-full bg-white shadow rounded-full"
                                                    style="opacity: 1;"></div>
                                            </li>
                                            <li role="tab"
                                                class="grid place-items-center text-center w-full h-full relative bg-transparent antialiased font-sans text-base leading-relaxed select-none cursor-pointer p-0 font-normal text-[#1A237E]"
                                                data-value="html">
                                                <div class="z-20 text-inherit"><i class="fab fa-html5"
                                                        aria-hidden="true"></i>&nbsp;HTML</div>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <h1
                                class="block antialiased font-sans text-5xl leading-tight mb-2 font-black tracking-normal text-[#1A237E]">
                                Material Tailwind</h1>
                            <p class="block antialiased font-sans mb-6 text-lg font-light text-[#1A237E] lg:pr-12">
                                Material Tailwind is an easy to use components library for Tailwind CSS and Material
                                Design.</p>
                            <div class="flex flex-col-reverse gap-2 lg:flex-row"><a href="/login"><button
                                        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85] h-full w-full"
                                        type="button">Get Started</button></a>
                                <div
                                    class="flex rounded-lg border border-white/80 bg-white/80 py-2.5 px-5 text-[#1A237E] shadow-2xl shadow-blue-gray-500/20 backdrop-blur-2xl backdrop-saturate-200">
                                    <p class="mb-0 flex w-full items-center justify-between font-normal">npm i
                                        @material-tailwind/react<i class="far fa-copy ml-4 cursor-pointer text-sm"
                                            aria-hidden="true"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="hidden w-full max-w-full px-4 pt-24 md:w-7/12 md:pt-0 lg:block"><img
                                alt="components" srcset="https://thesanfinity.com/asset_front/images/uiuximage_1.png"
                                src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/spirit/features/b845022d8d738ba8fa5e8b293e434149/card-back.svg"
                                width="1000" height="700" decoding="async" data-nimg="1" class="aspect-auto"
                                loading="lazy" style="color:transparent"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container z-20 mx-auto px-4">
            <div
                class="relative flex flex-col bg-clip-border rounded-xl text-gray-700 mx-6 -mt-20 bg-white md:mx-12 md:-mt-48">
                <section class="py-10 lg:py-20">
                    <div class="mx-auto mb-24 w-full text-center md:w-3/4 lg:w-1/2">
                        <h2
                            class="block antialiased font-sans text-4xl leading-[1.3] mb-2 font-semibold tracking-normal text-[#1A237E]">
                            Tailwind CSS-Based Framework</h2>
                        <p class="block antialiased font-sans mb-2 text-lg font-light text-[#1A237E]/60">Material
                            Tailwind
                            features multiple React and HTML components, all written with Tailwind CSS classes and
                            Material
                            Design guidelines.</p>
                    </div>
                    <div class="flex flex-row flex-wrap content-center">
                        <div class="mb-12 w-full max-w-full px-3 sm:w-1/2 sm:flex-none lg:mb-0 xl:mb-0 xl:w-1/4">
                            <div
                                class="relative flex flex-col bg-clip-border rounded-xl text-gray-700 border border-white/80 bg-white/80 shadow-lg backdrop-blur-2xl backdrop-saturate-200 undefined">
                                <div
                                    class="relative bg-clip-border overflow-hidden text-gray-700 -mt-6 mx-6 -mb-3 grid h-12 w-12 place-items-center rounded-lg bg-[#1A237E]">
                                    <i class="material-icons relative text-xl text-white">dashboard</i>
                                </div>
                                <div class="p-6 mt-1">
                                    <h5
                                        class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug mb-2 text-[#1A237E]">
                                        Tailwind CSS Components</h5>
                                    <p
                                        class="block antialiased font-sans text-base leading-relaxed font-light text-[#1A237E]/60">
                                        Material Tailwind comes with a huge number of Fully Coded Tailwind CSS
                                        components.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-12 w-full max-w-full px-3 sm:w-1/2 sm:flex-none lg:mb-0 xl:mb-0 xl:w-1/4">
                            <div
                                class="relative flex flex-col bg-clip-border rounded-xl text-gray-700 border border-white/80 bg-white/80 shadow-lg backdrop-blur-2xl backdrop-saturate-200 undefined">
                                <div
                                    class="relative bg-clip-border overflow-hidden text-gray-700 -mt-6 mx-6 -mb-3 grid h-12 w-12 place-items-center rounded-lg bg-[#1A237E]">
                                    <i class="material-icons relative text-xl text-white">terminal</i>
                                </div>
                                <div class="p-6 mt-1">
                                    <h5
                                        class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug mb-2 text-[#1A237E]">
                                        JavaScript Components</h5>
                                    <p
                                        class="block antialiased font-sans text-base leading-relaxed font-light text-[#1A237E]/60">
                                        Material Tailwind only features React and HTML components, but in the near
                                        future it
                                        will future more.</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-12 w-full max-w-full px-3 sm:w-1/2 sm:flex-none lg:mb-0 xl:mb-0 xl:w-1/4">
                            <div
                                class="relative flex flex-col bg-clip-border rounded-xl text-gray-700 border border-white/80 bg-white/80 shadow-lg backdrop-blur-2xl backdrop-saturate-200 undefined">
                                <div
                                    class="relative bg-clip-border overflow-hidden text-gray-700 -mt-6 mx-6 -mb-3 grid h-12 w-12 place-items-center rounded-lg bg-[#1A237E]">
                                    <i class="material-icons relative text-xl text-white">description</i>
                                </div>
                                <div class="p-6 mt-1">
                                    <h5
                                        class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug mb-2 text-[#1A237E]">
                                        Documentation</h5>
                                    <p
                                        class="block antialiased font-sans text-base leading-relaxed font-light text-[#1A237E]/60">
                                        This extension comes a lot of fully coded examples that help you get started
                                        faster.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-12 w-full max-w-full px-3 sm:w-1/2 sm:flex-none lg:mb-0 xl:mb-0 xl:w-1/4">
                            <div
                                class="relative flex flex-col bg-clip-border rounded-xl text-gray-700 border border-white/80 bg-white/80 shadow-lg backdrop-blur-2xl backdrop-saturate-200 undefined">
                                <div
                                    class="relative bg-clip-border overflow-hidden text-gray-700 -mt-6 mx-6 -mb-3 grid h-12 w-12 place-items-center rounded-lg bg-[#1A237E]">
                                    <i class="material-icons relative text-xl text-white">view_carousel</i>
                                </div>
                                <div class="p-6 mt-1">
                                    <h5
                                        class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug mb-2 text-[#1A237E]">
                                        Templates (soon)</h5>
                                    <p
                                        class="block antialiased font-sans text-base leading-relaxed font-light text-[#1A237E]/60">
                                        Material Tailwind will come with fully coded sample pages so you could start
                                        working
                                        instantly.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>