<% layout('./layout/boilerplate.ejs') %>
<title>
     Gukari - Discover the top learning materials
</title>
<meta name="description" content="On Gukari, you may find Top Learning material, cards, and much more. We're here to give you access to the most useful information.">
<style>
    .quizmax{
        width: 45%;
    }
    .quizimg{
        width: 55%;
    }
    .blue-hover:hover{
        border: rgb(139, 5, 201) solid  1px;

        cursor: pointer;
    }
</style>
    <main class="relative bg-white ">
        <div
            class="h-screen min-h-screen bg-[url('https://i.ibb.co/7Qtxj2D/amp.jpg')] bg-cover bg-center bg-no-repeat">
            <div class="relative z-50 h-fit py-20 lg:py-25">
                <div class="container mx-auto px-4">
                    <div class="flex flex-wrap items-center justify-between">
                        <div class="mt-48 w-full px-4 md:w-8/12 lg:mt-4 lg:w-5/12">
                            <!-- <div class="w-full max-w-full sm:my-auto md:w-5/6 md:flex-none lg:w-1/2">
                                <div class="overflow-hidden block mb-6">
                                    <nav>
                                        <ul role="tablist"
                                            class="flex relative bg-opacity-60 p-1 flex-row h-10 w-auto rounded-full border border-white/80 bg-white/80 shadow-2xl shadow-blue-gray-500/40 backdrop-blur-2xl backdrop-saturate-200">
                                            <li role="tab"
                                                class="grid place-items-center text-center w-full h-full relative bg-transparent antialiased font-sans text-base leading-relaxed select-none cursor-pointer p-0 font-normal text-[#1A237E]"
                                                data-value="react">
                                                <div class="z-20 text-inherit"><i class="fab fa-react"
                                                        aria-hidden="true"></i>&nbsp;React</div>
                                                <div class="absolute inset-0 z-10 h-full bg-white shadow rounded-full"
                                                    style="opacity: 1;"></div>
                                            </li>
                                            <li role="tab"
                                                class="grid place-items-center text-center w-full h-full relative bg-transparent antialiased font-sans text-base leading-relaxed select-none cursor-pointer p-0 font-normal text-[#1A237E]"
                                                data-value="html">
                                                <div class="z-20 text-inherit"><i class="fab fa-html5"
                                                        aria-hidden="true"></i>&nbsp;HTML</div>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div> -->
                            <h1
                                class="block antialiased font-sans text-5xl leading-tight mb-2 font-black tracking-normal text-[#1A237E]">
                                Discover a new and swift era of deep learning.</h1>
                            <p class="block antialiased font-sans mb-6 text-lg font-light text-[#1A237E] lg:pr-12">
                                 A learning platform that goes beyond videos and flashcards.
                                Join our community of learners who use Gukari's practice tests, videos, and task manager to improve their grades and achieve their goals</p>
                            <div class="flex flex-col-reverse gap-2 lg:flex-row"><a href="/login"><button
                                        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-5 px-7 rounded-lg bg-gradient-to-tr from-red-600 to-red-400 text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85] h-full w-full"
                                        type="button">Get Started</button></a>
                               
                            </div>
                        </div>
                        <div class="hidden w-full max-w-full px-4 pt-24 md:w-7/12 md:pt-0 lg:block"><img
                                alt="components" srcset="https://images.ctfassets.net/w8fc6tgspyjz/5PaSe1LNEgulMwbTwTL1yc/68717996ae31a6e5c6974a9a3cd02d42/header-graphic-v08_2.png"
                                src="https://images.ctfassets.net/w8fc6tgspyjz/5PaSe1LNEgulMwbTwTL1yc/68717996ae31a6e5c6974a9a3cd02d42/header-graphic-v08_2.png"
                                width="1000" height="700" decoding="async" data-nimg="1" class="aspect-auto"
                                loading="lazy" style="color:transparent"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container z-20 mx-auto px-4">
            <div
                class="relative flex flex-col shadow bg-clip-border rounded-xl text-gray-700 mx-6 -mt-20 bg-white md:mx-11 md:-mt-42">
                <section class="py-7 lg:py-16 ">
                    <div class="mx-auto mb-24 w-full text-center md:w-3/4 lg:w-1/2">
                        <span
                            class="block antialiased font-sans text-5xl leading-[1.3] mb-2 font-bold tracking-normal text-[#1A237E]">
                         Features</span>
                        <p class="block antialiased font-sans text-2xl font-light text-[#1A237E]/60">Material
                            Here are the top three items you will have access to with Gukari: you may post video, photos, and quizzes to go along with the video, photographs, and so on..</p>
                    </div>
                    <div class="flex flex-row flex-wrap content-center">
                        <div class=" flex flex-col ml-16 items-center justify-center mb-12 w-full max-w-full px-3 sm:w-1/2 sm:flex-none lg:mb-0 xl:mb-0 xl:w-1/4 ">
                            <img src="https://quizlet-web.cdn.prismic.io/quizlet-web/f71461c7-0790-48b1-aefb-1dee9d17b262_02+Q-chat.svg?auto=compress,format" alt="" srcset="">
                            <div class="flex flex-col text-center ">
                                <span class="text-xl"><b>Create Magic Notes </b></span>
                                <span class="flex w-full items-center justify-center">Get flashcards, practice tests and more in one click </span>
                            </div>
                        </div>
                        
                        <div class=" flex ml-12  flex-col items-center justify-center mb-12 w-full max-w-full px-3 sm:w-1/2 sm:flex-none lg:mb-0 xl:mb-0 xl:w-1/4 ">
                            <img class="" src="https://quizlet-web.cdn.prismic.io/quizlet-web/5d374190-25dd-4230-8161-78ff1f963467_01+Magic+Notes+Test.svg?auto=compress,format" alt="" srcset="">
                            <div class="flex flex-col text-center ">
                                <span class="text-xl"><b>Meet Q-Chat: your AI tutor                                </b></span>
                                <span class="flex w-full items-center justify-center">Engage with your highly responsive study partner </span>
                            </div>
                        </div>
                        <div class=" flex flex-col ml-16 items-center justify-center mb-12 w-full max-w-full px-3 sm:w-1/2 sm:flex-none lg:mb-0 xl:mb-0 xl:w-1/4 ">
                            <img src="https://quizlet-web.cdn.prismic.io/quizlet-web/843e2563-9eed-4a9e-ac71-992941f157e6_03+Expert+solutions.svg?auto=compress,format" alt="" srcset="">
                            <div class="flex flex-col text-center ">
                                <span class="text-xl"><b>Get Expert Solutions </b></span>
                                <span class="flex w-full items-center justify-center">Find trustworthy solutions, expert-written and AI-enhanced </span>
                            </div>
                        </div>
                       
                     
                    </div>
                </section>
            </div>
        </div>
        <br><br><br>
        <div class="first-card" style="margin-left: 5%; margin-right: 5%;">
                <div class=" bg-gray-100 flex  w-full rounded-2xl p-5">
                    <div class="text  quizmax">
                        <div class=" flex flex-col ml-5 mr-5 mt-10">
                            <span class="font-bold text-5xl">Simplify work and get more done.</span>
                            <br>
                            <br>
                            <div class="flex ml-2 text-xl">
                                <span>Plan, track, and manage any type of work with project management that flexes to your team's needs.</span>
                            </div>
                            <br>
                            <br>
                            <div class="start ">
                                <button class="p-5 rounded-md bg-pink-600 text-white">Get Started</button>
                            </div>
                        </div>
                    </div>
                    <div class="images  quizimg" >
                        <video data-testid="cu-animation" class="CuAnimation_video__70Pvw" height="1302" width="1960" autoplay="true" loop="" playsinline="" poster="https://images.ctfassets.net/w8fc6tgspyjz/7gy3ZWXz62NPz8t8KZ98uz/30cc9b0243ad9127f30234d4d800dcf8/projects_tasks.png" preload="auto"><source type="video/mp4" src="https://videos.ctfassets.net/w8fc6tgspyjz/3x1FwRrLiiZVN2BUzRDbpA/17cbdd68bf6a1f84d7522ac5c697821f/projects_tasks.mp4" data-src="https://videos.ctfassets.net/w8fc6tgspyjz/3x1FwRrLiiZVN2BUzRDbpA/17cbdd68bf6a1f84d7522ac5c697821f/projects_tasks.mp4"></video>
                    </div>
                </div>

        </div>
        <br><br>

        <div class="icon-show w-full border p-4 bg-purple-100">
            <div class="w-full h-full flex flex-col text-center items-center align-center content-center justify-center"> 
                <div class=" icons flex justify-between w-96 p-2">
                    <button class="border bg-gray-400 text-white w-13 h-12 p-3 rounded-xl">
                        <i class="bi bi-award-fill"></i>
                    </button>
                    <button class="border bg-red-400 text-white ml-3 w-13 h-12 p-3 rounded-xl">
                        <i class="bi bi-play-btn-fill"></i>

                    </button>
                    <button class="border bg-green-400 text-white ml-3 w-13 h-12 p-3 rounded-xl">
                        <i class="bi bi-paperclip"></i>
                    </button>
                </div>
                <br>
                <div class="content w-full  flex justify-center content-center align-items text-center text-center ">
                    <div class="ml-16 mr-16">

                    <video data-testid="cu-animation" class=" roudned-xl CuAnimation_video__70Pvw" height="700" width="1000" autoplay="true" loop="true" playsinline="" poster="https://images.ctfassets.net/w8fc6tgspyjz/5zX1FTYvh5Q3Q3VYV1BLlM/84065bea376876c8280e863ff3580161/docs.png" preload="auto"><source type="video/mp4" src="https://videos.ctfassets.net/w8fc6tgspyjz/4KkbGjJxvlL25NKiwbKnq3/d98670aab3dc8f65e000f8021b578dda/docs__2_.mp4" data-src="https://videos.ctfassets.net/w8fc6tgspyjz/4KkbGjJxvlL25NKiwbKnq3/d98670aab3dc8f65e000f8021b578dda/docs__2_.mp4"></video>
                </div>

                </div>
            </div>

        </div>
        <br>

        <br>
        <div class="Templates" style="margin-left: 5%; margin-right: 5%;">
            <div class=" bg-gray-100   w-full rounded-2xl p-5">
                <div class="flex flex-col text-center w-full justify-center items-center">
                    <span class="text-green-600 text-white ">TEMPLATES                    </span>
                    <span class="text-2xl font-bold">
                        Start with a template for design teams.
                    </span>
                    
                </div>
                <br>
                <div class="flex cards w-full flex justify-center ">
                    <div class="grid grid-cols-2 gap-4 mb-4">
                       <div class="firsttemplate text-center flex flex-col">
                        <img class="blue-hover" src="https://images.ctfassets.net/w8fc6tgspyjz/4PynWqzoinrcRENlON24pW/9ec67194e76a6744972fa60da1642a9c/gantt__4_.png?" alt="">
                        <span class="text-2xl">Calender Schedule</span>
                       </div>
                       <div class="firsttemplate text-center flex flex-col">
                        <img class="blue-hover" src="https://images.ctfassets.net/w8fc6tgspyjz/4xg46pgax1f7KxlRv9pDtm/70159ac15bb70266e0fd6240de4d09ff/Whitebaord_-_mockup_drawing.png?" alt="">
                        <span class="text-2xl">Calender Schedule</span>
                       </div>
                        

                        </div>
                </div>

            </div>
 
    </div>
        <div class="w-full bg-white p-4">
            <div class="flex flex-col">

            <span class="text-4xl font-bold ">
                One app to replace them all.
            </span>
            <br>
            <span class="text-lg">
                All of your work in one place: Tasks, Docs, Chat, Goals, & more.
            </span>
            <br>
            <div>
                <button class="p-4 bg-purple-600 text-white rounded-lg">Get started</button>
            </div>
        </div>


        </div>


    </main>