<% layout('./layouts/boilerplate.ejs')%>
<%- include('../../layouts/partials/settings.ejs') %>

<div class="content fullscreen" id="content-menu" style="overflow: scroll;">
    <div class="flex">
    <aside class="bg-gray-700 text-white w-64 min-h-screen p-4">
        <h1 class="text-2xl font-semibold mb-4">Analytics Dashboard</h1>
        <ul>
            <li class="mb-2"><a href="#" class="hover:underline">Dashboard</a></li>
            <li class="mb-2"><a href="#" class="hover:underline">Reports</a></li>
            <li class="mb-2"><a href="#" class="hover:underline">Users</a></li>
            <li class="mb-2"><a href="#" class="hover:underline">Settings</a></li>
        </ul>
    </aside>



    <div class="contentmain ml-1" class="ml-24">
        <span class="text-2xl">Account analytics
        </span>
    </div>
</div>
    <!-- Main Content -->
  
</div>