<% layout('./layouts/boilerplate.ejs')%>
<%- include('../../layouts/partials/settings.ejs') %>

<div class="content fullscreen" id="content-menu" style="overflow: scroll;">
    <div class="flex">
    <aside class="bg-gray-700 text-white w-64 min-h-screen p-4">
        <h1 class="text-2xl font-semibold mb-4">Analytics Dashboard</h1>
        <ul>
            <li class="mb-2"><a href="#" class="flex flex-row items-center hover:bg-gray-600 p-3 rounded-sm">
                 <div class="border rounded-sm w-5 h-6 flex items-center justify-center">
                    <i class="bi bi-bar-chart-fill"></i>                 </div> 
                    <span class="ml-1">Dashboard</span>    </a></li>

            <li class="mb-2"><a href="#" class=" p-3 hover:underline">Content</a></li>
            <li class="mb-2"><a href="#" class=" p-3 hover:underline">Analytics</a></li>
            <li class="mb-2"><a href="#" class=" p-3 hover:underline">Comments</a></li>
        </ul>
    </aside>



    <div class="contentmain ml-1" class="ml-24">
        <div class="Dashbord">
            
        </div>

        <span class="text-2xl">Account analytics
        </span>
 
    </div>
</div>
    <!-- Main Content -->
  
</div>