<% layout('./layouts/boilerplate.ejs')%>
<%- include('../../layouts/partials/settings.ejs') %>


    <div class="content fullscreen" id="content-menu">


            <div class="contentmain">
                <section class="image scroll">

                    <div id="default-carousel" class="relative w-full" data-carousel="slide">
                        <!-- Carousel wrapper -->
                        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                            <!-- Item 1 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="https://kahoot.com/files/2022/09/Webinar_posterframe.png"
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                    alt="...">
                            </div>
                            <!-- Item 2 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="https://kahoot.com/files/2023/05/Mosaic-Visual-1.png"
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                    alt="...">
                            </div>
                            <!-- Item 3 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="	https://kahoot.com/files/2022/01/Group-79.png"
                                    class=" absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                    alt="...">
                            </div>
                            <!-- Item 4 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="https://kahoot.com/files/2023/03/desktop-mosaic-tallestower-9.jpg"
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                    alt="...">
                            </div>
                            <!-- Item 5 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="https://kahoot.com/files/2022/09/desktop-no-logologo-mosaic.jpg"
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                    alt="...">
                            </div>
                        </div>
                        <!-- Slider indicators -->
                        <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                                data-carousel-slide-to="0"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                                data-carousel-slide-to="1"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                                data-carousel-slide-to="2"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4"
                                data-carousel-slide-to="3"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5"
                                data-carousel-slide-to="4"></button>
                        </div>
                        <!-- Slider controls -->
                        <button type="button"
                            class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                            data-carousel-prev>
                            <span
                                class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                                    fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 19l-7-7 7-7">
                                    </path>
                                </svg>
                                <span class="sr-only">Previous</span>
                            </span>
                        </button>
                        <button type="button"
                            class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                            data-carousel-next>
                            <span
                                class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                                    fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7">
                                    </path>
                                </svg>
                                <span class="sr-only">Next</span>
                            </span>
                        </button>
                    </div>

                </section>
                <div class="flex justify-center items-center">
                    <section>
                        <div data-v-8ad5aaf4="" class="relative mx-auto mt-2 mb-2 overflow-hidden md:mt-2"><!---->
                            <!---->
                            <div data-v-8ad5aaf4=""
                                class="flex px-4 py-1 mx-auto space-x-5 overflow-x-auto overflow-y-hidden md:space-x-8 smooth-scroll no-scrollbar">
                                <!----> <!---->
                                <div data-v-8ad5aaf4=""
                                    class="flex flex-col items-center transition duration-300 transform cursor-pointer hover:scale-110">
                                    <div data-v-8ad5aaf4=""
                                        class="subject-image-container border rounded-full w-14 h-14 md:w-16 md:h-16 border-dark-6">
                                        <div data-v-8ad5aaf4="" aria-hidden="true"
                                            class="bg-center bg-contain w-full h-full"
                                            style="background-image: url(&quot;https://cf.quizizz.com/image/subject-math.png&quot;);">
                                        </div>
                                    </div> <span data-v-8ad5aaf4=""
                                        class="text-xs font-semibold text-center md:text-sm text-dark-3 whitespace-nowrap"><span
                                            data-v-8ad5aaf4="" translate="no" class="_i18n-container LANG_en"
                                            maxlenght="-1">Math</span></span>
                                </div>
                                <div data-v-8ad5aaf4=""
                                    class="flex flex-col items-center transition duration-300 transform cursor-pointer hover:scale-110">
                                    <div data-v-8ad5aaf4=""
                                        class="subject-image-container border rounded-full w-14 h-14 md:w-16 md:h-16 border-dark-6">
                                        <div data-v-8ad5aaf4="" aria-hidden="true"
                                            class="bg-center bg-contain w-full h-full"
                                            style="background-image: url(&quot;https://cf.quizizz.com/image/subject-english.png&quot;);">
                                        </div>
                                    </div> <span data-v-8ad5aaf4=""
                                        class="text-xs font-semibold text-center md:text-sm text-dark-3 whitespace-nowrap"><span
                                            data-v-8ad5aaf4="" translate="no" class="_i18n-container LANG_en"
                                            maxlenght="-1">English</span></span>
                                </div>
                                <div data-v-8ad5aaf4=""
                                    class="flex flex-col items-center transition duration-300 transform cursor-pointer hover:scale-110">
                                    <div data-v-8ad5aaf4=""
                                        class="subject-image-container border rounded-full w-14 h-14 md:w-16 md:h-16 border-dark-6">
                                        <div data-v-8ad5aaf4="" aria-hidden="true"
                                            class="bg-center bg-contain w-full h-full"
                                            style="background-image: url(&quot;https://cf.quizizz.com/image/subject-social-studies.png&quot;);">
                                        </div>
                                    </div> <span data-v-8ad5aaf4=""
                                        class="text-xs font-semibold text-center md:text-sm text-dark-3 whitespace-nowrap"><span
                                            data-v-8ad5aaf4="" translate="no" class="_i18n-container LANG_en"
                                            maxlenght="-1">Social
                                            Studies</span></span>
                                </div>
                                <div data-v-8ad5aaf4=""
                                    class="flex flex-col items-center transition duration-300 transform cursor-pointer hover:scale-110">
                                    <div data-v-8ad5aaf4=""
                                        class="subject-image-container border rounded-full w-14 h-14 md:w-16 md:h-16 border-dark-6">
                                        <div data-v-8ad5aaf4="" aria-hidden="true"
                                            class="bg-center bg-contain w-full h-full"
                                            style="background-image: url(&quot;https://cf.quizizz.com/image/subject-world-languages.png&quot;);">
                                        </div>
                                    </div> <span data-v-8ad5aaf4=""
                                        class="text-xs font-semibold text-center md:text-sm text-dark-3 whitespace-nowrap"><span
                                            data-v-8ad5aaf4="" translate="no" class="_i18n-container LANG_en"
                                            maxlenght="-1">Languages</span></span>
                                </div>
                                <div data-v-8ad5aaf4=""
                                    class="flex flex-col items-center transition duration-300 transform cursor-pointer hover:scale-110">
                                    <div data-v-8ad5aaf4=""
                                        class="subject-image-container border rounded-full w-14 h-14 md:w-16 md:h-16 border-dark-6">
                                        <div data-v-8ad5aaf4="" aria-hidden="true"
                                            class="bg-center bg-contain w-full h-full"
                                            style="background-image: url(&quot;https://cf.quizizz.com/image/subject-science.png&quot;);">
                                        </div>
                                    </div> <span data-v-8ad5aaf4=""
                                        class="text-xs font-semibold text-center md:text-sm text-dark-3 whitespace-nowrap"><span
                                            data-v-8ad5aaf4="" translate="no" class="_i18n-container LANG_en"
                                            maxlenght="-1">Science</span></span>
                                </div>
                                <div data-v-8ad5aaf4=""
                                    class="flex flex-col items-center transition duration-300 transform cursor-pointer hover:scale-110">
                                    <div data-v-8ad5aaf4=""
                                        class="subject-image-container border rounded-full w-14 h-14 md:w-16 md:h-16 border-dark-6">
                                        <div data-v-8ad5aaf4="" aria-hidden="true"
                                            class="bg-center bg-contain w-full h-full"
                                            style="background-image: url(&quot;https://cf.quizizz.com/image/subject-computers.png&quot;);">
                                        </div>
                                    </div> <span data-v-8ad5aaf4=""
                                        class="text-xs font-semibold text-center md:text-sm text-dark-3 whitespace-nowrap"><span
                                            data-v-8ad5aaf4="" translate="no" class="_i18n-container LANG_en"
                                            maxlenght="-1">Computers</span></span>
                                </div>
                                <div data-v-8ad5aaf4=""
                                    class="flex flex-col items-center transition duration-300 transform cursor-pointer hover:scale-110">
                                    <div data-v-8ad5aaf4=""
                                        class="subject-image-container border rounded-full w-14 h-14 md:w-16 md:h-16 border-dark-6">
                                        <div data-v-8ad5aaf4="" aria-hidden="true"
                                            class="bg-center bg-contain w-full h-full"
                                            style="background-image: url(&quot;https://cf.quizizz.com/image/subject-career-ed-professional-development.png&quot;);">
                                        </div>
                                    </div> <span data-v-8ad5aaf4=""
                                        class="text-xs font-semibold text-center md:text-sm text-dark-3 whitespace-nowrap"><span
                                            data-v-8ad5aaf4="" translate="no" class="_i18n-container LANG_en"
                                            maxlenght="-1">Career
                                            Ed</span></span>
                                </div>
                                <div data-v-8ad5aaf4=""
                                    class="flex flex-col items-center transition duration-300 transform cursor-pointer hover:scale-110">
                                    <div data-v-8ad5aaf4=""
                                        class="subject-image-container border rounded-full w-14 h-14 md:w-16 md:h-16 border-dark-6">
                                        <div data-v-8ad5aaf4="" aria-hidden="true"
                                            class="bg-center bg-contain w-full h-full"
                                            style="background-image: url(&quot;https://cf.quizizz.com/image/subject-arts-music.png&quot;);">
                                        </div>
                                    </div> <span data-v-8ad5aaf4=""
                                        class="text-xs font-semibold text-center md:text-sm text-dark-3 whitespace-nowrap"><span
                                            data-v-8ad5aaf4="" translate="no" class="_i18n-container LANG_en"
                                            maxlenght="-1">Creative
                                            Arts</span></span>
                                </div>
                                <div data-v-8ad5aaf4=""
                                    class="flex flex-col items-center transition duration-300 transform cursor-pointer hover:scale-110">
                                    <div data-v-8ad5aaf4=""
                                        class="subject-image-container border rounded-full w-14 h-14 md:w-16 md:h-16 border-dark-6">
                                        <div data-v-8ad5aaf4="" aria-hidden="true"
                                            class="bg-center bg-contain w-full h-full"
                                            style="background-image: url(&quot;https://cf.quizizz.com/image/subject-physical-ed.png&quot;);">
                                        </div>
                                    </div> <span data-v-8ad5aaf4=""
                                        class="text-xs font-semibold text-center md:text-sm text-dark-3 whitespace-nowrap"><span
                                            data-v-8ad5aaf4="" translate="no" class="_i18n-container LANG_en"
                                            maxlenght="-1">Health
                                            &amp; PE</span></span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <section>
                <div class="mb-4">
                    <div class="flex items-center pl-4"><i data-v-63245ebc=""
                            class="flex items-center text-brand-c fas fa-star  text-yellow-400"
                            style="font-size: 20px;"></i>
                        <h2 aria-label="World Languages" class="text-sm md:text-2xl text-dark-2 ml-2 font-semibold">
                            <span translate="no" class="_i18n-container LANG_en" maxlenght="-1">World Languages</span>
                        </h2>
                        <div class="hidden md:block ml-auto"><button data-v-100aaadc="" aria-label="See more"
                                type="button" translate="no"
                                class="ml-auto flex items-center justify-center px-4 py-1 text-sm font-semibold h-8 base bg-lilac-faded text-lilac hover:text-lilac-light active:text-lilac-dark rounded-full  secondary transition-colors duration-200 ease-in-out flex relative min-w-max"
                                data-cy="recommendations-see-more-btn"><!----> <!----> <span data-v-100aaadc=""
                                    class="title">
                                    See more
                                </span> <!----> <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd"></path>
                                </svg> <!---->
                                <!----> <!----> <!----> </button></div>
                        <div class="block md:hidden ml-auto"><button data-v-100aaadc="" aria-label="See more"
                                type="button" translate="no"
                                class="ml-auto whitespace-nowrap flex items-center justify-center px-3 py-1 text-xs font-semibold h-6 base bg-lilac-faded text-lilac hover:text-lilac-light active:text-lilac-dark rounded-full  secondary transition-colors duration-200 ease-in-out flex relative min-w-max"><!---->
                                <!----> <span data-v-100aaadc="" class="title">
                                    See more
                                </span> <!----> <i data-v-63245ebc="" data-v-100aaadc=""
                                    class="flex items-center fas fa-chevron-right ml-2" style="font-size: 11px;"></i>
                                <!---->
                                <!----> <!----> <!----> </button></div>
                    </div>
                    <div data-v-cec1e916="" class="flex max-w-full relative mb-4 md:mb-8"
                        containerref="[object HTMLDivElement]">
                        <div data-v-cec1e916=""><!----> <!----></div>
                        <div data-v-cec1e916="" class="w-full flex overflow-auto smooth-scroll no-scrollbar mt-1"><a
                                data-v-cec1e916=""
                                href="/admin/quiz/56d3b18d635419c86700de5e/ser-vs-estar?adminRecommend=true"
                                class="quiz-card rounded-xl bg-light-3 m-2 text-left ring-1 ring-dark-10% flex-shrink-0 mb-4 md:mb-8 cursor-pointer hover:shadow-lg h-60 md:h-72 max-w-44 md:max-w-60 first:ml-6"
                                title="SER vs ESTAR" aria-label="SER vs ESTAR, 20 Questions" data-cy="admin-card-quiz">
                                <div data-v-cec1e916="" class="overflow-hidden rounded-t-xl h-full">
                                    <div data-v-cec1e916="">
                                        <div data-v-1b4c6056="" data-v-cec1e916=""
                                            class="w-full h-full w-44 md:w-60 h-28 md:h-40 object-cover"
                                            aria-hidden="true">
                                            <img data-v-1b4c6056="" alt="Quiz image"
                                                class="w-full h-full lazy-img rounded-inherit object-cover"
                                                data-src="https://media.quizizz.com/resource/gs/quizizz-media/quizzes/L2FwcGhvc3RpbmdfcHJvZC9ibG9icy9BRW5CMlVvSmFjWkxMS0Zla3lnTlVYOW1KZExzSzFFbnU3R2FOWkw0X1FJSl9qZnoxSTlsVHpsWC15b0VRalJIWUVzTWN6UUU5SnNtV3BSSFZFWDZDZkFNRkxPNEctTmE0Zy50MU95Um14U1N6M2F4VmNO?w=400&amp;h=400"
                                                src="https://media.quizizz.com/resource/gs/quizizz-media/quizzes/L2FwcGhvc3RpbmdfcHJvZC9ibG9icy9BRW5CMlVvSmFjWkxMS0Zla3lnTlVYOW1KZExzSzFFbnU3R2FOWkw0X1FJSl9qZnoxSTlsVHpsWC15b0VRalJIWUVzTWN6UUU5SnNtV3BSSFZFWDZDZkFNRkxPNEctTmE0Zy50MU95Um14U1N6M2F4VmNO?w=400&amp;h=400"
                                                lazy="loaded">
                                            <div data-v-1b4c6056="" class="lazy-img-background"
                                                data-src="https://media.quizizz.com/resource/gs/quizizz-media/quizzes/L2FwcGhvc3RpbmdfcHJvZC9ibG9icy9BRW5CMlVvSmFjWkxMS0Zla3lnTlVYOW1KZExzSzFFbnU3R2FOWkw0X1FJSl9qZnoxSTlsVHpsWC15b0VRalJIWUVzTWN6UUU5SnNtV3BSSFZFWDZDZkFNRkxPNEctTmE0Zy50MU95Um14U1N6M2F4VmNO?w=400&amp;h=400"
                                                lazy="loaded"
                                                style="background-image: url(&quot;https://media.quizizz.com/resource/gs/quizizz-media/quizzes/L2FwcGhvc3RpbmdfcHJvZC9ibG9icy9BRW5CMlVvSmFjWkxMS0Zla3lnTlVYOW1KZExzSzFFbnU3R2FOWkw0X1FJSl9qZnoxSTlsVHpsWC15b0VRalJIWUVzTWN6UUU5SnNtV3BSSFZFWDZDZkFNRkxPNEctTmE0Zy50MU95Um14U1N6M2F4VmNO?w=400&amp;h=400&quot;);">
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-cec1e916="" aria-hidden="true"
                                        class="px-2.5 pt-2.5 pb-3.5 flex flex-col h-30">
                                        <div data-v-cec1e916="" class="flex items-center">
                                            <div data-v-f0d2a25a="" data-v-cec1e916="" translate="no"
                                                class="bg-light-1 text-dark-3 lozenge items-center inline-flex text-tn font-semibold rounded-full px-1.5 ">
                                                <!----> <!----> <span data-v-f0d2a25a="" class="">QUIZ</span>
                                            </div> <!---->
                                            <!---->
                                        </div>
                                        <div data-v-cec1e916="" title="SER vs ESTAR"
                                            class="mt-2 mb-4 text-sm md:text-base text-dark-2 font-semibold">
                                            SER vs ESTAR
                                        </div>
                                        <div data-v-cec1e916=""
                                            class="flex text-tn md:text-xs text-dark-4 font-semibold mt-auto">
                                            <div data-v-cec1e916="" class="mr-1.5">
                                                20
                                                Questions
                                            </div>
                                            •
                                            <div data-v-cec1e916="" class="mr-1.5 ml-1.5">
                                                5.9K
                                                plays
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><a data-v-cec1e916=""
                                href="/admin/presentation/6215442879ada0001d6bc10c/question-words?adminRecommend=true"
                                class="quiz-card rounded-xl bg-light-3 m-2 text-left ring-1 ring-dark-10% flex-shrink-0 mb-4 md:mb-8 cursor-pointer hover:shadow-lg h-60 md:h-72 max-w-56 md:max-w-72 first:ml-6"
                                title="Question Words" aria-label="Question Words, 17 Slides"
                                data-cy="admin-card-presentation">
                                <div data-v-cec1e916="" class="overflow-hidden rounded-t-xl h-full">
                                    <div data-v-cec1e916="" aria-hidden="true"
                                        class="w-56 md:w-72 h-30 md:h-40 flex items-center justify-around">
                                        <div data-v-4b8f8410="" data-v-cec1e916=""
                                            class="relative w-full h-full preview-container">
                                            <div data-v-4b8f8410="" class="absolute question-background w-320 h-180"
                                                style="transform: translate(-50%, -50%) scale(0.225, 0.222222) translate(50%, 50%);">
                                                <div data-v-4b8f8410=""
                                                    class="absolute w-full h-full overflow-hidden slide-preview text-light-3 pointer-events-none"
                                                    style="background-color: rgb(36, 84, 142); color: rgb(254, 251, 246);">
                                                    <div data-v-4b8f8410="">
                                                        <div class="absolute element-display"
                                                            style="--title-font-family: Merriweather; font-family: Quicksand; --defaultHeader: #f1f3f5a1; --defaultCell: #fff; --linkColor: #F8B49F; left: 0.689655px; top: -1.03448px; width: 1279.31px; height: 88.6207px; transform: rotate(0deg); z-index: 0;">
                                                            <!----> <!----> <!---->
                                                            <div class="whitespace-pre-wrap shape-element-display">
                                                                <div
                                                                    style="position: relative;display: flex;justify-content: center;align-items: center;">
                                                                    <svg data-v-534dd98f="" fill="#303D4E"
                                                                        stroke="#303D4E" preserveAspectRatio="none"
                                                                        viewBox="0 0 100 100"
                                                                        style="height: 88.6207px; width: 1279.31px; overflow: visible; stroke-width: 2px;">
                                                                        <use href="#rectangle"></use>
                                                                    </svg>

                                                                </div>
                                                            </div> <!----> <!---->
                                                        </div>
                                                    </div>
                                                    <div data-v-4b8f8410="">
                                                        <div class="absolute element-display"
                                                            style="--title-font-family: Merriweather; font-family: Quicksand; --defaultHeader: #f1f3f5a1; --defaultCell: #fff; --linkColor: #F8B49F; left: 71.0425px; top: 612.407px; width: 1124.24px; height: 11.2093px; transform: rotate(0deg); z-index: 1;">
                                                            <!----> <!----> <!---->
                                                            <div class="whitespace-pre-wrap shape-element-display">
                                                                <div
                                                                    style="position: relative;display: flex;justify-content: center;align-items: center;">
                                                                    <svg data-v-534dd98f="" fill="#F8B49F"
                                                                        stroke="#F8B49F" preserveAspectRatio="none"
                                                                        viewBox="0 0 100 100"
                                                                        style="height: 11.2093px; width: 1124.24px; overflow: visible; stroke-width: 0px;">
                                                                        <use href="#line_2d"></use>
                                                                    </svg>

                                                                </div>
                                                            </div> <!----> <!---->
                                                        </div>
                                                    </div>
                                                    <div data-v-4b8f8410="">
                                                        <div class="absolute element-display"
                                                            style="--title-font-family: Merriweather; font-family: Quicksand; --defaultHeader: #f1f3f5a1; --defaultCell: #fff; --linkColor: #F8B49F; left: 59.5172px; top: 276.586px; width: 1143.72px; height: 312px; transform: rotate(0deg); z-index: 2;">
                                                            <div
                                                                class="absolute inset-0 m-3 break-words whitespace-pre-wrap text">
                                                                <h1 style="text-align: left"><strong><span
                                                                            style="font-size: 96px"
                                                                            data-title="true">Question
                                                                            Words Review</span></strong></h1>
                                                            </div> <!----> <!----> <!----> <!----> <!---->
                                                        </div>
                                                    </div>
                                                    <div data-v-4b8f8410="">
                                                        <div class="absolute element-display"
                                                            style="--title-font-family: Merriweather; font-family: Quicksand; --defaultHeader: #f1f3f5a1; --defaultCell: #fff; --linkColor: #F8B49F; left: 72.6423px; top: 632.646px; width: 1126.69px; height: 51px; transform: rotate(0deg); z-index: 3;">
                                                            <div
                                                                class="absolute inset-0 m-3 break-words whitespace-pre-wrap text">
                                                                <p style="text-align: left"><span
                                                                        style="font-size: 18px">By
                                                                        Joanna Kapinos</span></p>
                                                            </div> <!----> <!----> <!----> <!----> <!---->
                                                        </div>
                                                    </div> <!----> <!---->
                                                </div>
                                            </div> <!---->
                                        </div>
                                    </div>
                                    <div data-v-cec1e916="" aria-hidden="true"
                                        class="px-2.5 pt-2.5 pb-3.5 flex flex-col h-30">
                                        <div data-v-cec1e916="" class="flex items-center">
                                            <div data-v-f0d2a25a="" data-v-cec1e916="" translate="no"
                                                class="bg-light-1 text-dark-3 lozenge items-center inline-flex text-tn font-semibold rounded-full px-1.5 ">
                                                <!----> <!----> <span data-v-f0d2a25a="" class="">LESSON</span>
                                            </div>
                                            <div data-v-f0d2a25a="" data-v-cec1e916="" translate="no"
                                                class="bg-lilac-faded text-lilac ml-1 lozenge items-center inline-flex text-tn font-semibold rounded-full px-1.5 ">
                                                <!----> <!----> <span data-v-f0d2a25a="" class="">NEW</span>
                                            </div> <!---->
                                        </div>
                                        <div data-v-cec1e916="" title="Question Words"
                                            class="mt-2 mb-4 text-sm md:text-base text-dark-2 font-semibold">
                                            Question Words
                                        </div>
                                        <div data-v-cec1e916=""
                                            class="flex text-tn md:text-xs text-dark-4 font-semibold mt-auto">
                                            <div data-v-cec1e916="" class="mr-1.5">
                                                17
                                                Slides
                                            </div>
                                            •
                                            <div data-v-cec1e916="" class="mr-1.5 ml-1.5">
                                                2.6K
                                                plays
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><a data-v-cec1e916=""
                                href="/admin/quiz/5deabfca2f8170001b0bb02f/conjugation-of-regular-verbs?adminRecommend=true"
                                class="quiz-card rounded-xl bg-light-3 m-2 text-left ring-1 ring-dark-10% flex-shrink-0 mb-4 md:mb-8 cursor-pointer hover:shadow-lg h-60 md:h-72 max-w-44 md:max-w-60 first:ml-6"
                                title="Conjugation of Regular Verbs"
                                aria-label="Conjugation of Regular Verbs, 20 Questions" data-cy="admin-card-quiz">
                                <div data-v-cec1e916="" class="overflow-hidden rounded-t-xl h-full">
                                    <div data-v-cec1e916="">
                                        <div data-v-1b4c6056="" data-v-cec1e916=""
                                            class="w-full h-full w-44 md:w-60 h-28 md:h-40 object-cover"
                                            aria-hidden="true">
                                            <img data-v-1b4c6056="" alt="Quiz image"
                                                class="w-full h-full lazy-img rounded-inherit object-cover"
                                                data-src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/7568255b-1bdb-4e1b-970b-2b9da7979561?w=400&amp;h=400"
                                                src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/7568255b-1bdb-4e1b-970b-2b9da7979561?w=400&amp;h=400"
                                                lazy="loaded">
                                            <div data-v-1b4c6056="" class="lazy-img-background"
                                                data-src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/7568255b-1bdb-4e1b-970b-2b9da7979561?w=400&amp;h=400"
                                                lazy="loaded"
                                                style="background-image: url(&quot;https://quizizz.com/media/resource/gs/quizizz-media/quizzes/7568255b-1bdb-4e1b-970b-2b9da7979561?w=400&amp;h=400&quot;);">
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-cec1e916="" aria-hidden="true"
                                        class="px-2.5 pt-2.5 pb-3.5 flex flex-col h-30">
                                        <div data-v-cec1e916="" class="flex items-center">
                                            <div data-v-f0d2a25a="" data-v-cec1e916="" translate="no"
                                                class="bg-light-1 text-dark-3 lozenge items-center inline-flex text-tn font-semibold rounded-full px-1.5 ">
                                                <!----> <!----> <span data-v-f0d2a25a="" class="">QUIZ</span>
                                            </div> <!---->
                                            <!---->
                                        </div>
                                        <div data-v-cec1e916="" title="Conjugation of Regular Verbs"
                                            class="mt-2 mb-4 text-sm md:text-base text-dark-2 font-semibold">
                                            Conjugation of Regular Verbs
                                        </div>
                                        <div data-v-cec1e916=""
                                            class="flex text-tn md:text-xs text-dark-4 font-semibold mt-auto">
                                            <div data-v-cec1e916="" class="mr-1.5">
                                                20
                                                Questions
                                            </div>
                                            •
                                            <div data-v-cec1e916="" class="mr-1.5 ml-1.5">
                                                4K
                                                plays
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><a data-v-cec1e916=""
                                href="/admin/quiz/5f887de69d9146001bf6c8ad/spanish-numbers-listening?adminRecommend=true"
                                class="quiz-card rounded-xl bg-light-3 m-2 text-left ring-1 ring-dark-10% flex-shrink-0 mb-4 md:mb-8 cursor-pointer hover:shadow-lg h-60 md:h-72 max-w-44 md:max-w-60 first:ml-6"
                                title="Spanish Numbers Listening" aria-label="Spanish Numbers Listening, 20 Questions"
                                data-cy="admin-card-quiz">
                                <div data-v-cec1e916="" class="overflow-hidden rounded-t-xl h-full">
                                    <div data-v-cec1e916="">
                                        <div data-v-1b4c6056="" data-v-cec1e916=""
                                            class="w-full h-full w-44 md:w-60 h-28 md:h-40 object-cover"
                                            aria-hidden="true">
                                            <img data-v-1b4c6056="" alt="Quiz image"
                                                class="w-full h-full lazy-img rounded-inherit object-cover"
                                                data-src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/8202589d-df0d-483e-8147-42f382983ef8?w=400&amp;h=400"
                                                src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/8202589d-df0d-483e-8147-42f382983ef8?w=400&amp;h=400"
                                                lazy="loaded">
                                            <div data-v-1b4c6056="" class="lazy-img-background"
                                                data-src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/8202589d-df0d-483e-8147-42f382983ef8?w=400&amp;h=400"
                                                lazy="loaded"
                                                style="background-image: url(&quot;https://quizizz.com/media/resource/gs/quizizz-media/quizzes/8202589d-df0d-483e-8147-42f382983ef8?w=400&amp;h=400&quot;);">
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-cec1e916="" aria-hidden="true"
                                        class="px-2.5 pt-2.5 pb-3.5 flex flex-col h-30">
                                        <div data-v-cec1e916="" class="flex items-center">
                                            <div data-v-f0d2a25a="" data-v-cec1e916="" translate="no"
                                                class="bg-light-1 text-dark-3 lozenge items-center inline-flex text-tn font-semibold rounded-full px-1.5 ">
                                                <!----> <!----> <span data-v-f0d2a25a="" class="">QUIZ</span>
                                            </div> <!---->
                                            <div data-v-f0d2a25a="" data-v-cec1e916="" translate="no"
                                                class="bg-super-10% text-super ml-auto lozenge items-center inline-flex text-tn font-semibold rounded-full px-1.5 ">
                                                <!----> <i data-v-63245ebc="" data-v-f0d2a25a=""
                                                    class="flex items-center fas fa-bolt-lightning mr-1"
                                                    style="font-size: 9px;"></i> <span data-v-f0d2a25a=""
                                                    class="">PREMIUM</span>
                                            </div>
                                        </div>
                                        <div data-v-cec1e916="" title="Spanish Numbers Listening"
                                            class="mt-2 mb-4 text-sm md:text-base text-dark-2 font-semibold">
                                            Spanish Numbers Listening
                                        </div>
                                        <div data-v-cec1e916=""
                                            class="flex text-tn md:text-xs text-dark-4 font-semibold mt-auto">
                                            <div data-v-cec1e916="" class="mr-1.5">
                                                20
                                                Questions
                                            </div>
                                            •
                                            <div data-v-cec1e916="" class="mr-1.5 ml-1.5">
                                                39.5K
                                                plays
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><a data-v-cec1e916=""
                                href="/admin/quiz/5e187a8347245b001bb8edca/food?adminRecommend=true"
                                class="quiz-card rounded-xl bg-light-3 m-2 text-left ring-1 ring-dark-10% flex-shrink-0 mb-4 md:mb-8 cursor-pointer hover:shadow-lg h-60 md:h-72 max-w-44 md:max-w-60 first:ml-6"
                                title="Food" aria-label="Food, 22 Questions" data-cy="admin-card-quiz">
                                <div data-v-cec1e916="" class="overflow-hidden rounded-t-xl h-full">
                                    <div data-v-cec1e916="">
                                        <div data-v-1b4c6056="" data-v-cec1e916=""
                                            class="w-full h-full w-44 md:w-60 h-28 md:h-40 object-cover"
                                            aria-hidden="true">
                                            <img data-v-1b4c6056="" alt="Quiz image"
                                                class="w-full h-full lazy-img rounded-inherit object-cover"
                                                data-src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/0937c98d-c7b2-4ed3-ab93-f26dd7ff81ae?w=400&amp;h=400"
                                                src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/0937c98d-c7b2-4ed3-ab93-f26dd7ff81ae?w=400&amp;h=400"
                                                lazy="loaded">
                                            <div data-v-1b4c6056="" class="lazy-img-background"
                                                data-src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/0937c98d-c7b2-4ed3-ab93-f26dd7ff81ae?w=400&amp;h=400"
                                                lazy="loaded"
                                                style="background-image: url(&quot;https://quizizz.com/media/resource/gs/quizizz-media/quizzes/0937c98d-c7b2-4ed3-ab93-f26dd7ff81ae?w=400&amp;h=400&quot;);">
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-cec1e916="" aria-hidden="true"
                                        class="px-2.5 pt-2.5 pb-3.5 flex flex-col h-30">
                                        <div data-v-cec1e916="" class="flex items-center">
                                            <div data-v-f0d2a25a="" data-v-cec1e916="" translate="no"
                                                class="bg-light-1 text-dark-3 lozenge items-center inline-flex text-tn font-semibold rounded-full px-1.5 ">
                                                <!----> <!----> <span data-v-f0d2a25a="" class="">QUIZ</span>
                                            </div> <!---->
                                            <!---->
                                        </div>
                                        <div data-v-cec1e916="" title="Food"
                                            class="mt-2 mb-4 text-sm md:text-base text-dark-2 font-semibold">
                                            Food
                                        </div>
                                        <div data-v-cec1e916=""
                                            class="flex text-tn md:text-xs text-dark-4 font-semibold mt-auto">
                                            <div data-v-cec1e916="" class="mr-1.5">
                                                22
                                                Questions
                                            </div>
                                            •
                                            <div data-v-cec1e916="" class="mr-1.5 ml-1.5">
                                                22.8K
                                                plays
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><a data-v-cec1e916=""
                                href="/admin/presentation/6137fbde82f8d8001d4a5c47/mi-cumpleanos?adminRecommend=true"
                                class="quiz-card rounded-xl bg-light-3 m-2 text-left ring-1 ring-dark-10% flex-shrink-0 mb-4 md:mb-8 cursor-pointer hover:shadow-lg h-60 md:h-72 max-w-56 md:max-w-72 first:ml-6"
                                title="Mi Cumpleaños" aria-label="Mi Cumpleaños, 19 Slides"
                                data-cy="admin-card-presentation">
                                <div data-v-cec1e916="" class="overflow-hidden rounded-t-xl h-full">
                                    <div data-v-cec1e916="" aria-hidden="true"
                                        class="w-56 md:w-72 h-30 md:h-40 flex items-center justify-around">
                                        <div data-v-4b8f8410="" data-v-cec1e916=""
                                            class="relative w-full h-full preview-container">
                                            <div data-v-4b8f8410="" class="absolute question-background w-320 h-180"
                                                style="transform: translate(-50%, -50%) scale(0.225, 0.222222) translate(50%, 50%);">
                                                <div data-v-4b8f8410=""
                                                    class="absolute w-full h-full overflow-hidden slide-preview text-light-3 pointer-events-none"
                                                    style="background-color: rgba(9, 9, 9, 0.1); color: rgb(255, 255, 255); background-image: url(&quot;https://cf.quizizz.com/img/presentation/themes/jpg/1080/1_3_blue_1080p.jpg&quot;); background-size: cover;">
                                                    <div data-v-4b8f8410="">
                                                        <div class="absolute element-display"
                                                            style="--title-font-family: Quicksand; font-family: Quicksand; --defaultHeader: #f1f3f5a1; --defaultCell: #fff; --linkColor: #9A4292; left: 70.9098px; top: 105.873px; width: 1152px; height: 240px; transform: rotate(0deg); z-index: 0;">
                                                            <div
                                                                class="absolute inset-0 m-3 break-words whitespace-pre-wrap text">
                                                                <h1 style="text-align: center"><strong><span
                                                                            style="font-size: 144px">Mi
                                                                            Cumpleaños</span></strong></h1>
                                                            </div> <!----> <!----> <!----> <!----> <!---->
                                                        </div>
                                                    </div>
                                                    <div data-v-4b8f8410="">
                                                        <div class="absolute element-display"
                                                            style="--title-font-family: Quicksand; font-family: Quicksand; --defaultHeader: #f1f3f5a1; --defaultCell: #fff; --linkColor: #9A4292; left: 64px; top: 376px; width: 1152px; height: 64px; transform: rotate(0deg); z-index: 1;">
                                                            <div
                                                                class="absolute inset-0 m-3 break-words whitespace-pre-wrap text">
                                                                <p style="text-align: center"><span
                                                                        style="font-size: 32px">by
                                                                        Krista Ferini</span></p>
                                                            </div> <!----> <!----> <!----> <!----> <!---->
                                                        </div>
                                                    </div> <!----> <!---->
                                                </div>
                                            </div> <!---->
                                        </div>
                                    </div>
                                    <div data-v-cec1e916="" aria-hidden="true"
                                        class="px-2.5 pt-2.5 pb-3.5 flex flex-col h-30">
                                        <div data-v-cec1e916="" class="flex items-center">
                                            <div data-v-f0d2a25a="" data-v-cec1e916="" translate="no"
                                                class="bg-light-1 text-dark-3 lozenge items-center inline-flex text-tn font-semibold rounded-full px-1.5 ">
                                                <!----> <!----> <span data-v-f0d2a25a="" class="">LESSON</span>
                                            </div>
                                            <div data-v-f0d2a25a="" data-v-cec1e916="" translate="no"
                                                class="bg-lilac-faded text-lilac ml-1 lozenge items-center inline-flex text-tn font-semibold rounded-full px-1.5 ">
                                                <!----> <!----> <span data-v-f0d2a25a="" class="">NEW</span>
                                            </div> <!---->
                                        </div>
                                        <div data-v-cec1e916="" title="Mi Cumpleaños"
                                            class="mt-2 mb-4 text-sm md:text-base text-dark-2 font-semibold">
                                            Mi Cumpleaños
                                        </div>
                                        <div data-v-cec1e916=""
                                            class="flex text-tn md:text-xs text-dark-4 font-semibold mt-auto">
                                            <div data-v-cec1e916="" class="mr-1.5">
                                                19
                                                Slides
                                            </div>
                                            •
                                            <div data-v-cec1e916="" class="mr-1.5 ml-1.5">
                                                7.8K
                                                plays
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><a data-v-cec1e916=""
                                href="/admin/quiz/61e6fcc7ec54140020612fd0/adjetivos?adminRecommend=true"
                                class="quiz-card rounded-xl bg-light-3 m-2 text-left ring-1 ring-dark-10% flex-shrink-0 mb-4 md:mb-8 cursor-pointer hover:shadow-lg h-60 md:h-72 max-w-44 md:max-w-60 first:ml-6"
                                title="Adjetivos" aria-label="Adjetivos, 10 Questions" data-cy="admin-card-quiz">
                                <div data-v-cec1e916="" class="overflow-hidden rounded-t-xl h-full">
                                    <div data-v-cec1e916="">
                                        <div data-v-1b4c6056="" data-v-cec1e916=""
                                            class="w-full h-full w-44 md:w-60 h-28 md:h-40 object-cover"
                                            aria-hidden="true">
                                            <img data-v-1b4c6056="" alt="Quiz image"
                                                class="w-full h-full lazy-img rounded-inherit object-cover"
                                                data-src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/67184f87-1935-40f5-bd7e-bcfced672847?w=400&amp;h=400"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                lazy="loading">
                                            <div data-v-1b4c6056="" class="lazy-img-background"
                                                data-src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/67184f87-1935-40f5-bd7e-bcfced672847?w=400&amp;h=400"
                                                lazy="loading"
                                                style="background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;);">
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-cec1e916="" aria-hidden="true"
                                        class="px-2.5 pt-2.5 pb-3.5 flex flex-col h-30">
                                        <div data-v-cec1e916="" class="flex items-center">
                                            <div data-v-f0d2a25a="" data-v-cec1e916="" translate="no"
                                                class="bg-light-1 text-dark-3 lozenge items-center inline-flex text-tn font-semibold rounded-full px-1.5 ">
                                                <!----> <!----> <span data-v-f0d2a25a="" class="">QUIZ</span>
                                            </div> <!---->
                                            <!---->
                                        </div>
                                        <div data-v-cec1e916="" title="Adjetivos"
                                            class="mt-2 mb-4 text-sm md:text-base text-dark-2 font-semibold">
                                            Adjetivos
                                        </div>
                                        <div data-v-cec1e916=""
                                            class="flex text-tn md:text-xs text-dark-4 font-semibold mt-auto">
                                            <div data-v-cec1e916="" class="mr-1.5">
                                                10
                                                Questions
                                            </div>
                                            •
                                            <div data-v-cec1e916="" class="mr-1.5 ml-1.5">
                                                29.4K
                                                plays
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a><a data-v-cec1e916=""
                                href="/admin/quiz/5f7201e8a4c706001ce50722/los-dias-los-meses-y-los-numeros?adminRecommend=true"
                                class="quiz-card rounded-xl bg-light-3 m-2 text-left ring-1 ring-dark-10% flex-shrink-0 mb-4 md:mb-8 cursor-pointer hover:shadow-lg h-60 md:h-72 max-w-44 md:max-w-60 first:ml-6"
                                title="Los Dias, Los Meses, Y Los Numeros"
                                aria-label="Los Dias, Los Meses, Y Los Numeros, 15 Questions" data-cy="admin-card-quiz">
                                <div data-v-cec1e916="" class="overflow-hidden rounded-t-xl h-full">
                                    <div data-v-cec1e916="">
                                        <div data-v-1b4c6056="" data-v-cec1e916=""
                                            class="w-full h-full w-44 md:w-60 h-28 md:h-40 object-cover"
                                            aria-hidden="true">
                                            <img data-v-1b4c6056="" alt="Quiz image"
                                                class="w-full h-full lazy-img rounded-inherit object-cover"
                                                data-src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/622f37dc-c43f-4ac6-91fe-8899e861fde5?w=400&amp;h=400"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                lazy="loading">
                                            <div data-v-1b4c6056="" class="lazy-img-background"
                                                data-src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/622f37dc-c43f-4ac6-91fe-8899e861fde5?w=400&amp;h=400"
                                                lazy="loading"
                                                style="background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;);">
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-cec1e916="" aria-hidden="true"
                                        class="px-2.5 pt-2.5 pb-3.5 flex flex-col h-30">
                                        <div data-v-cec1e916="" class="flex items-center">
                                            <div data-v-f0d2a25a="" data-v-cec1e916="" translate="no"
                                                class="bg-light-1 text-dark-3 lozenge items-center inline-flex text-tn font-semibold rounded-full px-1.5 ">
                                                <!----> <!----> <span data-v-f0d2a25a="" class="">QUIZ</span>
                                            </div> <!---->
                                            <div data-v-f0d2a25a="" data-v-cec1e916="" translate="no"
                                                class="bg-super-10% text-super ml-auto lozenge items-center inline-flex text-tn font-semibold rounded-full px-1.5 ">
                                                <!----> <i data-v-63245ebc="" data-v-f0d2a25a=""
                                                    class="flex items-center fas fa-bolt-lightning mr-1"
                                                    style="font-size: 9px;"></i> <span data-v-f0d2a25a=""
                                                    class="">PREMIUM</span>
                                            </div>
                                        </div>
                                        <div data-v-cec1e916="" title="Los Dias, Los Meses, Y Los Numeros"
                                            class="mt-2 mb-4 text-sm md:text-base text-dark-2 font-semibold">
                                            Los Dias, Los Meses, Y Los Numeros
                                        </div>
                                        <div data-v-cec1e916=""
                                            class="flex text-tn md:text-xs text-dark-4 font-semibold mt-auto">
                                            <div data-v-cec1e916="" class="mr-1.5">
                                                15
                                                Questions
                                            </div>
                                            •
                                            <div data-v-cec1e916="" class="mr-1.5 ml-1.5">
                                                42.2K
                                                plays
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </section>

            <section class="mb-4">
                <h2 aria-label="TOp picks" class="text-sm md:text-2xl text-dark-2 ml-2 font-semibold"><span
                        translate="no" class="_i18n-container LANG_en" maxlenght="-1">World Languages</span></h2>
            </section>


            <script>
                const search = document.getElementById('searchinput')
                const recentSearch = document.getElementById('saerch-recent')
                search.addEventListener('click', function (e) {
                    recentSearch.classList.toggle('hidden')
                })
            </script>
    </div>