<% layout('./layouts/boilerplate.ejs')%>
<%- include('../../../layouts/partials/settings.ejs') %>

    <div class="content fullscreen" id="content-menu">
            <div class="flex w-full">
                <div class=" main-content">
                    
                    
                </div>
                <%- include('../../../layouts/partials/sidebar.ejs') %>

            </div>
    </div>